:root {
  --light: #f6f6f6;
  --black: #040404;
  --white: #fff;
  --grey: #a5a5a5;
  --dark-grey: #636363;
  --border: 2px solid var(--black);
}

@font-face {
  font-family: 'JetBrains';
  font-display: swap;
  src: url('../assets/fonts/jetbrains.woff2');
  unicode-range: U+0020-007E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background: var(--black);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

input,
textarea {
  border: var(--border);
  color: var(--black);
  font-family: 'JetBrains';
  font-size: 14px;
  padding: 8px 12px;
  width: 100%;
  margin-bottom: 8px;
  display: block;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: var(--dark-grey);
}

textarea {
  height: 300px;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: 'JetBrains';
  background: var(--white);
  overflow: hidden;
}

.sidebar {
  display: flex;
  width: 0;
  height: 100%;
  position: fixed;
  border-right: var(--border);
}

.sidebar.show {
  width: 400px;
}

.sidebar-menu {
  background: var(--black);
  padding: 8px;
  z-index: 3;
}

.sidebar-menu svg {
  width: 32px;
  height: 32px;
  fill: var(--light);
  cursor: pointer;
  margin: 8px 4px;
}

.sidebar-menu .close,
.sidebar-menu .open {
  opacity: 0;
}

.sidebar-menu svg .active {
  opacity: 1 !important;
}

.sidebar-content {
  margin-left: -400px;
  width: calc(100% - 56px);
  height: 100%;
  pointer-events: none;
}

.sidebar.show .sidebar-content {
  margin-left: 0;
  pointer-events: all;
}

.sidebar.show ~ .content {
  width: calc(100% - 400px);
  margin-left: 400px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: var(--border);
}

.sidebar-header h1 {
  font-size: 24px;
  font-weight: 600;
  user-select: none;
}

.btn-new-note {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  border: var(--border);
  user-select: none;
  cursor: pointer;
  color: var(--black);
}

.btn-new-note:hover {
  color: var(--light);
  background: var(--black);
}

.sidebar-search {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: var(--border);
}

.sidebar-search input {
  margin-bottom: 0;
}

.btn-search {
  background: var(--black);
  padding: 7px;
  display: flex;
  user-select: none;
  cursor: pointer;
}

.sidebar.show .sidebar-search svg {
  fill: var(--light);
}

.sidebar-search svg {
  fill: var(--black);
  width: 24px;
  height: 24px;
}

.notes {
  height: calc(100% - 138px);
  padding-top: 16px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.notes::-webkit-scrollbar {
  display: none;
}

.note {
  display: flex;
  justify-content: space-between;
  border-top: var(--border);
  border-bottom: var(--border);
  margin-bottom: 8px;
}

.note-content h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 6px;
}

.note-content p {
  font-size: 12px;
  color: var(--dark-grey);
}

br {
  margin-bottom: 6px;
}

.timestamp {
  font-size: 10px;
  color: var(--dark-grey);
}

.note-content {
  width: 100%;
  padding: 16px;
  user-select: none;
  cursor: pointer;
}

.note .active,
.note-content:hover {
  background: var(--black);
}

.note .active h2,
.note-content:hover h2 {
  color: var(--light);
}

.note .active p,
.note .active .timestamp,
.note-content:hover p,
.note-content:hover .timestamp {
  color: var(--grey);
}

.btn-delete {
  padding: 16px;
  background: var(--black);
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.btn-delete svg {
  width: 24px;
  height: 24px;
  fill: var(--light);
}

.content {
  width: calc(100% - 56px);
  height: 100%;
  overflow-y: auto;
  margin-left: 56px;
  padding: 24px;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.content-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.content-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.content-nav div {
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 600;
  border: var(--border);
  margin: 0 -1px;
  user-select: none;
  cursor: pointer;
  color: var(--black);
}

.content-nav .active {
  background: var(--black);
  color: var(--light);
}

.content h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  color: var(--black);
}

.content-view p {
  font-size: 14px;
  color: var(--black);
  margin-bottom: 6px;
}

.content-not-found svg {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
  fill: var(--black);
}

.content-not-found h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
}

.btn-save {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--light);
  background: var(--black);
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .sidebar.show {
    width: 350px;
  }

  .sidebar-content {
    margin-left: -350px;
    width: calc(100% - 56px);
  }

  .sidebar.show ~ .content {
    width: calc(100% - 350px);
    margin-left: 350px;
  }
}

@media (max-width: 768px) {
  .sidebar.show {
    width: 100vw;
  }

  .sidebar-content {
    margin-left: -100vw;
  }

  .sidebar.show ~ .content {
    margin-left: 100vw;
  }
}
